@import "../../../styles/mixins/breakpoints";

.card--details {
   position: relative;
   display: flex;
   justify-content: flex-start;
   min-width: 80vw;

   color: var(--token-color-white);
   background-color: var(--token-color-grayscale-900);
   box-shadow: 0px 4px 4px #00000024;

   border-radius: var(--token-border-radius-large);

   padding: 2rem;

   &__image {
      img {
         height: 100%;
         width: 100px;
         aspect-ratio: 1;
         object-fit: cover;
         object-position: center;
         border-radius: var(--token-border-radius-medium);

         @include break("xs") {
            width: 175px;
         }
      }
   }

   &__label {
      color: var(--token-color-grayscale-600);
   }

   &__text {
      padding: 1rem;

      @include break("xs") {
         padding: 2rem;
      }
   }

   &__title {
      font: {
         weight: 600;
         size: 1.5rem;
      }
   }
   &__subtitle {
      font: {
         weight: 600;
         size: 1.125rem;
      }
   }

   &__status {
      position: relative;
      text-transform: capitalize;
      padding-left: 1.25rem;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         bottom: 0;
         margin: auto;
         display: block;
         width: 0.75rem;
         height: 0.75rem;
         aspect-ratio: 1;
         background-color: var(--token-color-success-base);
         border-radius: var(--token-border-radius-pill);
      }

      &.dead::before {
         background-color: var(--token-color-grayscale-850);
      }
   }

   &__extra {
      align-self: flex-end;
      justify-self: flex-end;
   }

   .icon {
      position: absolute;
      right: 1rem;
      top: 1rem;

      cursor: pointer;
   }
}
