*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   font-family: "Open Sans", sans-serif;
}

body {
   margin: 0;

   color: var(--token-color-body);
   background-color: var(--token-background-body);

   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0 {
      bottom: 0.5rem;
   }
}
