@import "../../styles/mixins/breakpoints.scss";

.episode {
   &__content {
      margin: {
         top: 5rem;
         bottom: 5rem;
      }

      .cards {
         display: grid;
         gap: 2rem;
         margin: 5rem 0;

         .card {
            max-width: 682px;
         }
      }

      .more {
         display: flex;
         margin: auto;

         .icon {
            color: var(--token-color-grayscale-210);
         }
      }
   }
   &__select {
      margin-top: 4rem;
   }

   &__title {
      font: {
         size: 1.75rem;
         weight: 700;
      }
      color: var(--token-color-primary-base);
   }
}
