@import "../../../styles/mixins/breakpoints";

.button {
   position: relative;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem 1rem;

   font: {
      weight: 600;
      size: 1rem;
   }

   padding: 0.5rem 2rem;
   margin: 0;

   user-select: none;
   vertical-align: middle;
   line-height: 1;

   background: transparent;
   -webkit-tap-highlight-color: transparent;
   background-clip: border-box;

   min-height: 67px;
   min-width: 100%;

   appearance: none;
   text-decoration: none;

   transition: 0.3s;

   border: 2px solid transparent {
      radius: var(--token-border-radius-large);
   }

   cursor: pointer;

   @include break("xs") {
      display: inline-flex;
      min-width: 100px;
   }

   &--primary {
      background: {
         color: var(--token-color-primary-base);
      }
      color: var(--token-color-primary-text);
      min-height: 67px;

      font-size: 1.5rem;

      &:not(:disabled) {
         &:hover {
            background: {
               color: var(--token-color-primary-hover);
            }
         }

         &:active {
            background: {
               color: var(--token-color-primary-hover);
            }
         }
      }
   }

   &--secondary {
      color: var(--token-color-primary-base);
      min-height: 48px;
      font-size: 1.125rem;
      border-radius: var(--token-border-radius-medium);

      &:not(:disabled) {
         &:hover {
            background: {
               color: var(--token-color-grayscale-825);
            }
         }

         &:active {
            background: {
               color: var(--token-color-grayscale-825);
            }
         }
      }
   }

   &--terciary {
      font-size: 1.25rem;
   }

   &--icon {
      &--start {
         flex-direction: row-reverse;
      }
      &--end {
         flex-direction: row;
      }
      &--down {
         flex-direction: column;
      }
      &--up {
         flex-direction: column-reverse;
      }
   }
}
