@import "../../styles/mixins/breakpoints.scss";

.character {
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: {
         top: 3rem;
         bottom: 3rem;
      }
   }

   &__title {
      text-align: center;
      font: {
         size: 1.75rem;
         weight: 700;
      }
      color: var(--token-color-primary-base);
      max-width: 35ch;
   }

   &__result {
      padding: 3rem 0;
      color: var(--token-color-white);
      background-color: var(--token-color-grayscale-900);

      .cards {
         display: grid;
         gap: 1rem;
         padding: 3rem 0;

         @include break("md") {
            grid-template-columns: 1fr 1fr;
         }

         @include break("lg") {
            grid-template-columns: 1fr 1fr 1fr;
         }
      }
   }
}
