@import "../../../styles/mixins/breakpoints";

.dropdown {
   position: relative;
   width: fit-content;
   min-width: 100%;
   color: var(--token-color-primary-base);
   background-color: var(--token-color-grayscale-100);
   border: 1px solid var(--token-color-grayscale-190) {
      radius: 10px;
   }

   &.open {
      border-radius: var(--token-border-radius-small)
         var(--token-border-radius-small) 0 0;
   }

   @include break("xs") {
      min-width: 100px;
   }

   &--header {
      padding: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      font-weight: 600;

      .icon {
         transition: 0.3s;
      }

      &.open {
         .icon {
            transform: rotate(-180deg);
         }
      }
   }

   &--body {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      z-index: 1100;

      padding: 1rem 0;
      border: 1px solid var(--token-color-grayscale-190) {
         radius: 0 0 var(--token-border-radius-small)
            var(--token-border-radius-small);
      }
      background-color: var(--token-color-grayscale-100);

      &.open {
         display: block;
      }

      .dropdown--item {
         padding: 0.5rem 1rem;
         cursor: pointer;

         &.active {
            border: {
               left: 1px solid;
               right: 1px solid;
            }
         }

         &:hover {
            background-color: var(--token-color-grayscale-190);
         }
      }
   }
}
