.not-found {
   max-height: 50vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;

   &__title {
      font: {
         size: 2.5rem;
         weight: 700;
      }
   }
}
